<p>
  <strong>School_name:</strong>
  <%= @school.name %>
</p>
<colspan ="2"></colspan>
 
<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

 <%= link_to 'new_school', new_school_path %>
 <%= link_to 'Back', schools_path %>